body {
    margin: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

p, li {
    line-height: 1.7em;
}

#menu a {
    text-decoration: none; /* Remove the underline */
}

/* Menu Styles */
#menu {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

#menu li {
    margin-right: 55px;
    margin-left: -35px;
    float: left;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

#menu li:hover {
    color: #1565c0;
    text-decoration: none;
}

#menu li.selected {
    color: #1565c0;
    font-weight: bold;
}

ul {
    list-style-type: none;
    
}

