.grey-bar {
    background-color: #FFFF00;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-bar {
    background-color: #FFFF00;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    /* margin: 0 10px; */
    padding: 10px 20px;
    background-color: #FFFF00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 800px;
}

.signup {
    background-color: #FFA500;
    margin-right: 20px;
    color: #fff;
    margin-left: 20px;
}

.login {
    background-color: #FFA500;
    color: #000;
    margin-right: 10px;
}

.middle-text {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

.additional-text {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 300px;
}

.containerforinfo {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}


.columnthing {
    width: 45%;
    padding: 10px;
}

.form-label {
    font-weight: bold;
}


.input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.select-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.next-button {
    text-align: right;
    margin-top: -20px;
    margin-right: 100px;
}

.address-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 40px;
}

.checkboxes {
    text-align: center;
    margin-top: 20px;
}

.bottom-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.logo {
    margin-left: 20px; 
    font-size: 24px; 
    color: #000; 
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}


.middleTextthing {
    text-align: center;
    margin-top: 10px; 
}


.input-container input[type="text"],
.input-container input[type="number"] {
    width: 33%; 
    padding: 8px;
    margin-bottom: 10px;
}

.centered-buttons {
    text-align: center;
    margin-top: 30px;
}

.TLDR-text {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

.TLDRlogo {
    color: #000;
    margin-left: 80px;
    font-size: 30px;
}

.centerexampopup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whiteboxpopup {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 150px;
    margin-left: 700px;
}

.dashboard {
    background-color: #FFFF00;
    color: #fff;
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
}

.dashboard h2 {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0;
}

.dashboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dashboard li {
    margin-bottom: 10px;
}

.dashboard a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.dashboard a:hover {
    background-color: #555;
}

/* log drive details  */

.bigwhiteBoxDetails {
            background-color: #f2f2f2; 
            border-radius: 20px; 
            padding: 30px;
            margin: 10px 150px; 
            width: 500px; 
            height: auto; 
        } 

        .logdrivedetails {
            margin-top: 20px;
        }

        .logdrivedetails h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .loggingthing {
            font-weight: bold;
        }

        .log-input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
        }

        .sidebar-toggle {
            position: fixed;
            left: 20px; 
            top: 20px; 
            padding: 15px;
            cursor: pointer;
            background-color: #333;
            color: #fff;
            border-radius: 0 30px 30px 0;
            font-size: 24px; 
        }

        .action-buttons {
            position: absolute;
            right: 60px; 
            top: 555px; 
            margin-top: -20px;
        }

        .action-buttons button {
            background-color: #FFA500; 
            color: #fff;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            cursor: pointer;
            font-size: 20px;
        }

        .right-box {
            background-color: #fff; 
            border: 2px solid #999; 
            border-radius: 10px; 
            padding: 20px; 
            width: 410px; 
            height: 430px; 
            position: absolute;
            right: 60px; 
            top: 50px; 
        }

        .qualified-driver-details {
            margin-top: -20px;
        }

        .qualified-driver-details h3 {
            font-size: 30px;
        }

        .qualified-driver-details label {
            font-size: 13px;
        }

        .qualified-driver-details .radio-button {
            margin-right: 10px;
        }

        .email-section {
            display: none; 
            margin-top: 20px;
        }

        .email-section label {
            font-size: 16px;
        }

        .email-section input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }

        .driver-details {
            display: block; 
        }

        .driver-details label {
            font-size: 16px;
        }

        .driver-details select{
            width: 100%;
            padding: 8px;
            margin-top: 5px;

        }
         
        
        .driver-details input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }

        .agreement {
            margin-top: 20px;
            font-size: 16px;
        }
        .dashboard {
            background-color: #FFFF00;
            color: #fff;
            width: 110px;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px 0;
        }


        .dashboard h2 {
            font-size: 20px;
            padding: 10px 20px;
            margin: 0;
        }

        .dashboard ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .dashboard li {
            margin-bottom: 10px;
        }


        .model {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            overflow: auto;
        }

        .model-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
            text-align: center;
            border-radius: 10px;
        }

        .reminder{
            color: red;
            font-weight: bold;
            margin-left: 500px;
        }  

        .dropdownforpeoples {
            margin-left: 630px;
            margin-top: -19px;
        }

        /* BookExam Page */

        .topheaderr {
            color: #000;
            padding: 10px;
            text-align: center;
            margin-top: 40px;
            margin-right: 700px;
        }

        .contentthing {
            padding: 20px;
            margin-left: 100px;
        }

        ul {
            list-style-type: none;
        }

        li {
            margin-bottom: 10px;
        }

        .thepopuppage {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .contentofpopuppage {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            text-align: center;
        }

        .close {
            color: #888;
            float: right;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
        }

        .vortbooking{
            position: absolute;
            top: 150px;
            right: 60px;
        }